.CartSection {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    flex-direction: column;
    padding-bottom: 20px;
}

/* h2 {
    font-size: 20px;
    margin-bottom: 10px;
} */

.CartSection p{
    height: 100px;
}

.EmptyCart {
    color: #888;
    text-align: center;
}

.CartList {
    flex: 1;
    list-style: none;
    padding: 0;
    margin: 0;
}

.CartItem {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.CartItem:last-child {
    border-bottom: none;
}

.CartItemImage {
    width: 90px;
    height: 70px;
    border-radius: 8px;
    margin-right: 10px;
}

.CartItemDetails {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ItemName {
    font-weight: bold;
}

.ItemPrice {
    font-weight: bold;
} 

.ItemPrice span{
    color: gold;
    font-weight: bold;
}

.CartItemsQuantity{
    display: flex;
    gap: 5px;
    align-items: center;
}
.RemoveButton {
    background: none;
    border: none;
    color: red;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    padding-bottom: 5px;
}

.AddButton{
    background: none;
    border: none;
    color: red;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.CartTotal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
}

hr {
    margin-top: 20px;
    height: 1px;
    background: rgb(179, 178, 178);
    font-size: 0;
    border: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.CartCoupon{
    display: flex;  
    flex-direction: row;
    background-color: rgb(179, 178, 178);
    border: none;
    border-radius: 15px;
    align-items: center;
    font-size: 16px;
    margin: 20px;
    padding: 10px;
}

.CartCoupon span{
    display: flex;
    justify-content: space-around;
}

.CartCheckout{
    display: flex;  
    flex-direction: row;
    background-color: rgb(241, 183, 35);
    border: none;
    border-radius: 15px;
    align-items: center;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}