.RecentOrder {
    flex: 30.7%;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
}

.RecentDishesHeading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}


.RecentOrdersCard {
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

/* .RecentOrdersCard:hover {
    transform: scale(1.05);
} */

.RecentOrdersButton {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: none;
    cursor: pointer;
    width: 100%;
    width: 300px;
    height: 300px;
}

.RecentItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 25px;
    gap:30px;
}

.RecentOrdersCard:nth-child(n+4){
    display: none;
}

.RecentItems.showAll .RecentOrdersCard{
    display: block;
  }

.RecentOrdersItem {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.RecentOrdersItem img {
    border-radius: 10px;
    width: 250px
}

.RecentItemNamePrice {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    line-height: 20px;
    padding-bottom: 10px;
}

.RecentItemName {
    /* font-weight: bold; */
    font-size: 14px;
    text-align: center;
}

.RecentItemPrice {
    font-size: 15px;
    font-weight: bold;
    color: #333;
}

.RecentItemPrice span {
    color: #ffd700;
    font-weight: bolder;
    font-size: 20px;
}

.Viewall {
    border: none;
    background-color: rgba(224, 224, 224, 0.904);
  }